{% extends "base.html.twig"%}

{% block body %}
<h1> Authors </h1>
<div class="pageContent">
    <table class="table table-stripped" style="">
            <thead class="thead-light">
                <tr>
                    <th> # </th>
                    <th>name</th>
                    <th></th>
                    <th>Actions</th>
                   
                </tr>
            </thead>
            <tbody>
            {% for a in authors %}
                <tr id="tr{{a.id}}">
                    <td>{{a.id}}</td>
                    <td>{{a.name}}</td>
                    <td>
                        
                    </td>
                    <td>
                        <button id="{{a.id}}" class="btn btn-danger btnDel">Delete</button>
                        <button  class="btn btn-primary">Edit</button>
                        
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        
        </table>
        <a class="btn btn-primary" href="{{path("author_new")}}">New</a>
    </div>
    
    


    <script>
    
    $('.btnDel').click(function(){
        console.log(this.id);
        var data = {
            'id' : this.id
        }
        Swal.fire({
            title: 'Delete',
            text: "Are you really  wanting to delete this author ?",
            type: 'warning',
            showCancelButton: true,
            
            }).then((result) => {
                if (result) {
                $.ajax({
                    url : "{{path("author_delete")}}",
                    data : data

                })
                .done(function(){
                    $('#tr'+ data['id']).remove();
                    console.log('#td'+ data['id']);
                });

                //else
                }
                else {
                    Swal.fire(
                    'Cancelled'
                    )
                }
            })
        
    })

    
    
    </script>
{% endblock %}
