{% extends "base.html.twig"%}

{% block body %}
<div id="container">
    <table class="table table-stripped table-hover">
            <thead class="thead-light">
                <tr>
                    <th> # </th>
                    <th>name</th>
                    <th></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for g in genres %}
                <tr id="tr{{g.id}}">
                    <td>{{g.id}}</td>
                    <td>{{g.name}}</td>
                    <td>
                    
                    </td>
                    <td>
                    <button id="{{g.id}} " class="btn btn-danger btnDel">Delete</button>
                    <button id="{{g.id}} " class="btn btn-danger btnDel">Edit</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        
        </table>
        <a class="btn btn-primary" href="{{path("genre_new")}}">New</a>
    </div>
    
    


    <script>
    $('.btnDel').click(function(){
        console.log(this.id);
        var data = {
            'id' : this.id
        }
        Swal.fire({
            title: 'Delete',
            text: "Are you really  wanting to delete this genre ?",
            type: 'warning',
            showCancelButton: true,
            
            }).then((result) => {
                if (result) {
                $.ajax({
                    url : "{{path("genre_delete")}}",
                    data : data

                })
                .done(function(){
                    $('#td'+ data['id']).remove();
                    
                });

                //else
                }
                else {
                    Swal.fire(
                    'Cancelled'
                    )
                }
            })
        
    })
    
    </script>
{% endblock %}
