{% extends "base.html.twig" %}

{% block body %}
<div class="">
    <table class="table table-stripped table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Title</th>
                <th>Athor</th>
                <th>Date Added</th>
                <th>Summary</th>
                <th>Genre</th>
            </tr>
        </thead>
        {% for b in books %}
        <tr>
            <td>{{b.name}}</td>
            <td>{{b.author}}</td>
            <td>{{b.adddate}}</td>
            <td>{{b.sum}}</td>
             <td>{{b.genre}}</td>
            
            
        </tr>
        {% endfor %}
    </table>
    <a href="{{ path('book_new')}}"> new</a>
</div>
    




{% endblock %}