<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
         <link href="{{asset('build/css/bootstrap.css')}}" rel="stylesheet"/>
         <link href="{{asset('build/css/style.css')}}" rel="stylesheet"/>
         <link href="{{asset('build/sweetalert2/dist/sweetalert2.css')}}" rel="stylesheet"/>
        <script src="{{asset('build/js/jquery.js')}}"></script>
        <script src="{{asset('build/js/bootstrap.js')}}"></script>
        <script src="{{asset('build/sweetalert2/dist/sweetalert2.js')}}"></script>
        {# sweet alert 2#}
        {# scripts persos#}
        {% block stylesheets %}{% endblock %}
       
       
    </head>
    <body>
        {% include "menu.html.twig" %}
        <div id="container" style="margin: 50px;">
            {% block body %}    
            {% endblock %}
        </div>
         
            {% block javascripts %}{% endblock %}
        
    </body>
</html>
